{
	"api_key" : "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",
	"model" : "gpt-3.5-turbo",
	"fine_tune_base": "gpt-3.5-turbo",
	"training_file_name" : "500prompts.txt",
	"tone" : "confident",
	"training_prompt" : "Rewrite the following text in a confident, authoritative, and direct tone of voice: ",
	"starting_point" : "950"
}
